*.sln
*.tlog
*.vcxproj
*.vcxproj.filters
*.filters
*.user
*.lastbuildstate
*.obj
*.exe
*.ilk
*.log
*.pdb
*.idb
*.db
*.suo
*.ipch
/Debug/
/.vs/
/v16/
*.LST
*.OBJ
*.lnp
*.M51
*.plg
*.uvproj
*.htm
*.uvgui.Administrator
*.Administrator
*.uvopt
*.cfg
*.bak